@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* primary */
    --light-red: hsl(356, 100%, 66%); /*CTA text*/
    --very-light-red: hsl(355, 100%, 74%);
    --very-dark-blue: hsl(208, 49%, 24%); /*headings */

    /* Neutral  */   

--white: hsl(0, 0%, 100%); 
--grayish-blue : hsl(240, 2%, 79%); /* (footer text) */
--very-dark-grayish-blue : hsl(207, 13%, 34%); /*(body copy) */
--very-dark-black-blue : hsl(240, 10%, 16%); /*(footer background)*/

/* gradient */
--background-gradient:linear-gradient(120deg, hsl(13, 100%, 72%),hsl(353, 100%, 62%))
}

body{
    font-family: "Overpass", sans-serif;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
    color: var(--very-dark-blue);
}
p{
    font-size: 16px;
    line-height: 1.6;
}

  /* Nav-bar to target with JS */
  .dropdown {     
    transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);      
    transform: translateY(0.5rem);   
    opacity: 0;
  }
  .show {
    transform: translateY(0rem);
    visibility: visible;
    opacity: 1;
  }
  
  .arrow {
    transform: rotate(180deg);
    transition: 0.2s ease;
  }
  /* End of NavBar */
.sgnBtn{
    color: var(--light-red);
    font-weight: bold;
}
.sgnBtn:hover, .startBtn:hover{
background-color: var(--very-light-red);
color: var(--white);
}
.HERO{
    background: var(--background-gradient);
    height: 500px;
    border-bottom-left-radius: 100px;
}
.HERO .OVERLAY{
    min-height: 500px;
}
.startBtn{
    color: var(--light-red);
    font-weight: bold;
}
#mobileMenu{
    background-color: var(--white);
    color: var(--very-dark-blue);
    min-height: 500px;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: bold;
}
.signupBtn{
    background-image: var(--background-gradient);
}
.STATE{
    background-color: var(--very-dark-black-blue);
    mix-blend-mode: multiply;
    background-image: url(/images/bg-pattern-circles.svg); 
    background-size: cover;
    background-position:-76px -200px;  
    background-repeat: no-repeat;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    
}
@media  (min-width:728px) {
    .HERO, .HERO .OVERLAY{
        height: 600px;
    }
    .STATE{
        border-bottom-left-radius: 0px;
        background-color: var(--very-dark-black-blue); 
        background-size: cover;
        mix-blend-mode: multiply;
        background-position:-390px -800px ;  
        background-repeat: no-repeat;      
        border-top-right-radius: 100px;
    }
}
.FOOTER{
    background-color: var(--very-dark-black-blue);
    color: var(--grayish-blue);    
    border-top-right-radius: 100px;
    
}
