@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    /* primary */
    --light-red: hsl(356, 100%, 66%); /*CTA text*/
    --very-light-red: hsl(355, 100%, 74%);
    --very-dark-blue: hsl(208, 49%, 24%); /*headings */

    /* Neutral  */   

--white: hsl(0, 0%, 100%); 
--grayish-blue : hsl(240, 2%, 79%); /* (footer text) */
--very-dark-grayish-blue : hsl(207, 13%, 34%); /*(body copy) */
--very-dark-black-blue : hsl(240, 10%, 16%); /*(footer background)*/

/* gradient */
--background-gradient:linear-gradient(120deg, hsl(13, 100%, 72%),hsl(353, 100%, 62%))
}

body{
    font-family: "Overpass", sans-serif;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
    color: var(--very-dark-blue);
}
p{
    font-size: 16px;
    line-height: 1.6;
}
.sgnBtn{
    color: var(--light-red);
    font-weight: bold;
}
.sgnBtn:hover, .startBtn:hover{
background-color: var(--very-light-red);
color: var(--white);
}
.HERO{
    background-image: var(--background-gradient);
    height: 500px;
    border-bottom-left-radius: 100px;
}
.HERO .OVERLAY{
    min-height: 500px;
}
.startBtn{
    color: var(--light-red);
    font-weight: bold;
}
#mobileMenu{
    background-color: var(--white);
    color: var(--very-dark-blue);
    min-height: 500px;
    font-size: 20px;
    font-weight: bold;
}
.signupBtn{
    background-image: var(--background-gradient);
}
@media (min-1024px) {
    .HERO, .HERO .OVERLAY{
        height: 600px;
    }
}
.FOOTER{
    background-color: var(--very-dark-black-blue);
    color: var(--grayish-blue);    
    border-top-right-radius: 100px;
    
}
